.home-form h1 {
    text-align: center;
    color: var(--accent);
    margin: 0;
}

.input-wrapper {
    display: flex;
    flex-flow: column wrap;
    gap: 0.2rem;
}

.personal-content {
    display: flex;
    flex-flow: row wrap;
    gap: 1rem;
    justify-content: center;
}

.project-content {
    display: flex;
    flex-flow: row wrap;
    gap: 1rem;
    justify-content: center;
}

.address-input {
    width: calc(500px - 2rem) !important;
}

.input-wrapper-budget {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    gap: 2rem;
}

.budget-wrapper {
    width: 90% !important;
    display: flex;
    flex-flow: column wrap;
}

.input-wrapper-budget {
    height: 70px;
}

#budget-input {
    width: 70px !important;
}


.input-wrapper-budget .p-slider {
    width: 50%;
}

.input-wrapper-budget .p-slider-horizontal {
    height: 0.7rem !important;
    background: var(--main);
}

.p-slider .p-slider-range {
    background: var(--accent) !important;
}

.p-slider:not(.p-disabled) .p-slider-handle:hover {
    background: var(--main) !important;
    border-color: var(--accent) !important;
}

.details-content {
    width: 98%;
    display: flex;
    justify-content: center;
}

.term-wrapper {
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

.term-select {
    margin: 0.7rem 0;
}

.p-inputtextarea {
    resize: none;
}

.p-button {
    width: 100%;
    background: var(--accent) !important;
    border: 1px solid var(--accent) !important;
}


.p-inputtext::placeholder {
    color: #737373;
    opacity: 1;
}

@media screen and (max-width: 414px) and (orientation: portrait), screen and (max-width: 915px) and (orientation: landscape) {
    .home {
        display: flex;
        flex-flow: column wrap;
    }

    .home-form-wrapper {
        width: 100%;
        height: fit-content !important;
        padding: 0 !important;
        padding: 3rem 0 !important;
    }
    .home-form-wrapper .p-button{
        width: 90%;
        margin: 1rem 0;
    }

    .home-form {
        width: 90% !important;
        margin: auto;
        gap: 0.5rem !important;
        padding: 0 !important;
        display: flex !important;
        flex-flow: column wrap !important;
        align-items: center !important;
        justify-content: flex-start !important;
    }

    .home-form h1 {
        font-size: 2rem;
    }

    .personal-content{
        width: 90%;
        flex-flow: column wrap !important;
    }

    .project-content{
        width: 90% !important;
    }
    .project-content .p-inputtext{
        width: 100%;
    }

    .details-content{
        width: 90%;
        flex-flow: column wrap !important;
    }
    .p-inputtextarea{
        width: 100% !important;
    }
}

@media screen and (max-width: 915px) and (orientation: landscape) {
    
    .home-form {
        padding: 1rem;
        width: 60%;
        background: var(--light);
        color: var(--dark);
        border-radius: var(--border-radius);
        box-shadow: var(--shadow);
    }

    .home-form h1 {
        text-align: center;
        color: var(--accent);
    }

    .personal-content,
    .project-content {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        gap: 1rem;
    }
}