:root {
  color: rgba(255, 255, 255, 0.87);


  --light: #FAFAFA;
  --accent: #137D44;
  --highlight: #def93d;
  --main: #09CE63;
  --dark: #25554D;


  --border-radius: 0.3rem;
  --box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.5);
}

/* 
@font-face {
  font-family: 'Poppins Bold';
  src: url('../fonts/Poppins-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-Regular.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins Italic';
  src: url('../fonts/Poppins-Italic.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins Bold Italic';
  src: url('../fonts/Poppins-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins Semi Bold';
  src: url('../fonts/Poppins-SemiBold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins Semi Bold Italic';
  src: url('../fonts/Poppins-SemiBoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
} */


body{
  font-family: sans-serif;
  margin: 0;
  overflow-x: hidden;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}
